@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950 p-4;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
